In [1]:
import pandas as pd
import numpy as np

In [2]:
draft = pd.read_csv('2013-2015_Draft.csv')

In [3]:
draft.head()

,Rk,Year,Lg,Rd,Pk,Tm,Player,Age,Pos,Born,...,TRB,AST,STL,BLK,FG%,2P%,3P%,FT%,WS,WS/48
0,1,2013,NBA,1,22,BRK,Mason Plumlee,23.120,F,NaN,...,5.9,1.3,0.8,0.8,0.581,0.585,0.000,0.563,12.0,0.142
1,2,2013,NBA,1,27,DEN,Rudy Gobert,21.006,C,NaN,...,7.6,1.0,0.6,1.9,0.588,0.590,0.000,0.600,11.4,0.174
2,3,2013,NBA,1,12,OKC,Steven Adams,19.347,C,NaN,...,5.8,0.7,0.5,1.0,0.546,0.548,0.000,0.552,10.0,0.123
3,4,2013,NBA,1,15,MIL,Giannis Antetokounmpo,18.208,F-G,NaN,...,5.8,2.3,0.9,1.0,0.472,0.501,0.280,0.730,9.4,0.080
4,5,2013,NBA,1,4,CHA,Cody Zeller,20.270,F-C,NaN,...,5.2,1.2,0.6,0.6,0.458,0.462,0.091,0.742,9.2,0.117