In [3]:
import pandas as pd
import numpy as np

In [4]:
draft = pd.read_csv('2012_Draft.csv')

In [5]:
draft.head()

,Rd,Pk,Tm,Player,College,Yrs,FG%,3P%,FT%,MP,PTS,TRB,AST
0,1,1,NOH,Anthony Davis,University of Kentucky,4,0.519,0.240,0.782,33.8,20.3,9.6,1.6
1,1,2,CHA,Michael Kidd-Gilchrist,University of Kentucky,4,0.466,0.238,0.686,26.3,9.1,6.2,1.3
2,1,3,WAS,Bradley Beal,University of Florida,4,0.424,0.397,0.785,33.1,15.9,3.8,3.0
3,1,4,CLE,Dion Waiters,Syracuse University,4,0.413,0.333,0.708,28.5,13.2,2.6,2.5
4,1,5,SAC,Thomas Robinson,University of Kansas,4,0.465,0.000,0.535,13.2,4.7,4.5,0.5

In [6]:
import string

def make_name_key(series):
    exclude = set(string.punctuation)
    series = series.lower()
    series = ''.join(series.split())
    series = ''.join(ch for ch in series if ch not in exclude)
    return series
    
draft['namekeys'] = draft['Player'].apply(make_name_key)

In [7]:
draft_2 = draft[['namekeys','Player','Yrs','Rd','Pk','Tm']]

In [8]:
draft_2.head()

               namekeys                  Player  Yrs  Rd  Pk   Tm
0          anthonydavis           Anthony Davis    4   1   1  NOH
1  michaelkiddgilchrist  Michael Kidd-Gilchrist    4   1   2  CHA
2           bradleybeal            Bradley Beal    4   1   3  WAS
3           dionwaiters            Dion Waiters    4   1   4  CLE
4        thomasrobinson         Thomas Robinson    4   1   5  SAC

In [9]:
draft_2.to_csv('2012draft_clean.csv', sep='\t', encoding='utf-8')