In [25]:
import numpy as np
import pandas as pd

In [26]:
ncaa = pd.read_csv('2013-2015_CollegePlayers.csv')

In [27]:
ncaa.columns.values

array(['school_name', 'school_id', 'year', 'player_name', 'player_id',
       'class_year', 'season', 'position', 'height', 'games',
       'field_goals', 'field_goal_attempts', 'field_goal_percents',
       'three_pointers', 'three_pointer_attempts', 'three_pointer_percent',
       'free_throws', 'free_throw_attemps', 'free_throw_percent',
       'rebounds', 'rebounds_per_game', 'assists', 'assists_per_game',
       'blocks', 'blocks_per_game', 'steals', 'steals_per_game', 'points',
       'points_per_game', 'turnovers'], dtype=object)

In [28]:
def replace_dash(string):
    if string == '-':
        return 0
    else:
        return string

In [29]:
ncaa['field_goals'] = ncaa['field_goals'].apply(replace_dash).astype(int)
ncaa['field_goal_attempts'] = ncaa['field_goal_attempts'].apply(replace_dash).astype(int)
ncaa['field_goal_percents'] = ncaa['field_goal_percents'].apply(replace_dash).astype(float)

ncaa['three_pointers'] = ncaa['three_pointers'].apply(replace_dash).astype(int)
ncaa['three_pointer_attempts'] = ncaa['three_pointer_attempts'].apply(replace_dash).astype(int)
ncaa['three_pointer_percent'] = ncaa['three_pointer_percent'].apply(replace_dash).astype(float)

ncaa['free_throws'] = ncaa['free_throws'].apply(replace_dash).astype(int)
ncaa['free_throw_attemps'] = ncaa['free_throw_attemps'].apply(replace_dash).astype(int)
ncaa['free_throw_percent'] = ncaa['free_throw_percent'].apply(replace_dash).astype(float)

ncaa['rebounds'] = ncaa['rebounds'].apply(replace_dash).astype(int)
ncaa['rebounds_per_game'] = ncaa['rebounds_per_game'].apply(replace_dash).astype(float)

ncaa['assists'] = ncaa['assists'].apply(replace_dash).astype(int)
ncaa['assists_per_game'] = ncaa['assists_per_game'].apply(replace_dash).astype(float)

ncaa['blocks'] = ncaa['blocks'].apply(replace_dash).astype(int)
ncaa['blocks_per_game'] = ncaa['blocks_per_game'].apply(replace_dash).astype(float)

ncaa['steals'] = ncaa['steals'].apply(replace_dash).astype(int)
ncaa['steals_per_game'] = ncaa['steals_per_game'].apply(replace_dash).astype(float)

ncaa['points'] = ncaa['points'].apply(replace_dash).astype(int)
ncaa['points_per_game'] = ncaa['points_per_game'].apply(replace_dash).astype(float)

ncaa['turnovers'] = ncaa['turnovers'].apply(replace_dash).astype(int)


ncaa.dtypes

school_name                object
school_id                   int64
year                        int64
player_name                object
player_id                   int64
class_year                 object
season                     object
position                   object
height                     object
games                      object
field_goals                 int64
field_goal_attempts         int64
field_goal_percents       float64
three_pointers              int64
three_pointer_attempts      int64
three_pointer_percent     float64
free_throws                 int64
free_throw_attemps          int64
free_throw_percent        float64
rebounds                    int64
rebounds_per_game         float64
assists                     int64
assists_per_game          float64
blocks                      int64
blocks_per_game           float64
steals                      int64
steals_per_game           float64
points                      int64
points_per_game           float64
turnovers                   int64
dtype: object

In [30]:
print ncaa.columns.values

['school_name' 'school_id' 'year' 'player_name' 'player_id' 'class_year'
 'season' 'position' 'height' 'games' 'field_goals' 'field_goal_attempts'
 'field_goal_percents' 'three_pointers' 'three_pointer_attempts'
 'three_pointer_percent' 'free_throws' 'free_throw_attemps'
 'free_throw_percent' 'rebounds' 'rebounds_per_game' 'assists'
 'assists_per_game' 'blocks' 'blocks_per_game' 'steals' 'steals_per_game'
 'points' 'points_per_game' 'turnovers']

In [31]:
player_names = pd.read_csv('player_table.csv')

In [32]:
player_names.head()

   player_id               name
0    1288549  Andrew Gilmore Jr
1    1285567  Anthony Avent Jr.
2    1412078  Anthony Welch Jr.
3    1404406  Anthony White Jr.
4    1403294  Anthony Beane Jr.

In [33]:
merge = pd.merge(ncaa, player_names, how = 'left')

In [34]:
new_cols = ['school_name','school_id','year','name','player_id','class_year',
 'season','position','height','games','field_goals','field_goal_attempts',
 'field_goal_percents','three_pointers','three_pointer_attempts',
 'three_pointer_percent','free_throws','free_throw_attemps',
 'free_throw_percent','rebounds','rebounds_per_game','assists',
 'assists_per_game','blocks','blocks_per_game','steals','steals_per_game',
 'points','points_per_game','turnovers']
ncaa_2 = merge[new_cols]
ncaa_2.head()

,school_name,school_id,year,name,player_id,class_year,season,position,height,games,...,rebounds_per_game,assists,assists_per_game,blocks,blocks_per_game,steals,steals_per_game,points,points_per_game,turnovers
0,A&M-Corpus Christi,26172,2013,Hameed Ali,1289295,So.,2012-13,G,6-2,29,...,1.793,56,1.931,5,0.172,42,1.448,218,7.517,35
1,A&M-Corpus Christi,26172,2013,Jelani Currie,1402236,Fr.,2012-13,G,6-4,18,...,0.778,7,0.389,2,0.111,0,0.000,32,1.778,14
2,A&M-Corpus Christi,26172,2013,Kennon Dvorak,1289297,Jr.,2012-13,G,6-2,13,...,1.000,2,0.154,0,0.000,2,0.154,14,1.077,6
3,A&M-Corpus Christi,26172,2013,Dale Francis,1402237,Fr.,2012-13,F,6-9,29,...,2.034,3,0.103,7,0.241,8,0.276,58,2.000,21
4,A&M-Corpus Christi,26172,2013,Johnathan Jordan,1289299,So.,2012-13,G,5-10,29,...,4.828,159,5.483,5,0.172,39,1.345,372,12.828,82

In [38]:
import string

def make_name_key(series):
    exclude = set(string.punctuation)
    series = series.lower()
    series = ''.join(series.split())
    series = ''.join(ch for ch in series if ch not in exclude)
    return series
    
ncaa_2['namekeys'] = ncaa_2['name'].apply(make_name_key)

In [40]:
ncaa_2['namekeys'].head()

0          hameedali
1       jelanicurrie
2       kennondvorak
3        dalefrancis
4    johnathanjordan
Name: namekeys, dtype: object

In [11]:
ncaa_2.to_csv('ncaa_players_clean.csv', sep='\t', encoding='utf-8')